* {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Italian;
  src: url(../assets/Italian.otf);
}

.nav {
  margin: auto;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid black;
  height: 100px;
  background-color: red;
  &__logo {
    display: flex;
    align-items: center;
  }
  &__logo img {
    margin-right: 3%;
    width: 80px;
    height: 80px;
    -webkit-filter: invert(100%);
  }
  &__title {
    width: max-content;
    font-family: Italian;
    font-size: 3.5rem;
    color: white;
    width: 400px;
  }
  &__search {
    border: none;
    width: 200px;
    padding-left: 60px;
  }
}

.parent {
  background-color: #e9e9ec;
  padding-top: 3%;
  height: 85vh;
}

.giphy-embed {
  margin: auto;
  margin-bottom: 2%;
  display: block;
  border-radius: 15px;
  width: 600px;
  height: 450px;
}

.recipes {
  &__title {
    text-align: center;
    margin-bottom: 1%;
    font-family: Italian;
    font-size: 2.5rem;
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
  }
  &__lasagna,
  &__shep,
  &__confit {
    border: 1px solid black;
    width: 25vw;
    height: 200px;
    border-radius: 10px;
    display: flex;
    padding-bottom: 5%;
    padding-left: 5%;
    font-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.2s;
    filter: grayscale(0.2);
  }
  &__lasagna:hover,
  &__shep:hover,
  &__confit:hover {
    transform: scale(1.05);
  }
  &__lasagna {
    background-image: url(../assets/lasagna.jpeg);
  }
  &__shep {
    background-image: url(../assets/shep.jpeg);
  }
  &__confit {
    background-image: url(../assets/duck.webp);
  }
  &__label {
    display: flex;
    align-self: flex-end;
    color: white;
    font-family: Italian;
    font-size: 1.8rem;
  }
}
